


        {% extends 'base/dashboard/dashboard_base.html' %}

        {% block dashboard %}
        
        <!-- Content Wrapper. Contains page content -->
        
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Commits</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Commits</li>
                            </ol>
                        </div>
                        </div>
                    </div><!-- /.container-fluid -->
                    </section>
    
                    <!-- Main content -->
                    <section class="content">
                    <div class="container-fluid">
            
                        <!-- Timelime example  -->
                        <div class="row">
                        <div class="col-md-12">
                            <!-- The time line -->
                            <div class="timeline">
                            <!-- timeline time label -->
                            <div class="time-label">
                                <span class="bg-red">10 Feb. 2019</span>
                            </div>
                            <!-- /.timeline-label -->
                            <!-- timeline item -->
                            <div>
                                <i class="fas fa-user bg-blue"></i>
                                <div class="timeline-item">
                                <span class="time"><i class="fas fa-clock"></i> 12:05</span>
                                <h3 class="timeline-header"><a href="#">John Light Luc</a> Projet 1</h3>
    
                                <div class="timeline-body">
                                    Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                                    weebly ning heekya handango imeem plugg dopplr jibjab, movity
                                    jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                                    quora plaxo ideeli hulu weebly balihoo...
                                </div>
                                <div class="timeline-footer">
                                    <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-lg">Read more</a>
                                    <a class="btn btn-danger btn-sm">Delete</a>
                                </div>
                                </div>
                            </div>
                            <!-- END timeline item -->
                            <!-- timeline item -->
                            <div>
                                    <i class="fas fa-user bg-blue"></i>
                                    <div class="timeline-item">
                                    <span class="time"><i class="fas fa-clock"></i> 12:05</span>
                                    <h3 class="timeline-header"><a href="#">John Light Luc</a> Projet 1</h3>
        
                                    <div class="timeline-body">
                                        Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                                        weebly ning heekya handango imeem plugg dopplr jibjab, movity
                                        jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                                        quora plaxo ideeli hulu weebly balihoo...
                                    </div>
                                    <div class="timeline-footer">
                                        <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-lg">Read more</a>
                                        <a class="btn btn-danger btn-sm">Delete</a>
                                    </div>
                                    </div>
                            </div>
                            <!-- END timeline item -->
                            <!-- timeline item -->
                            <div>
                                <i class="fas fa-user bg-blue"></i>
                                <div class="timeline-item">
                                <span class="time"><i class="fas fa-clock"></i> 27 mins ago</span>
                                <h3 class="timeline-header"><a href="#">Jay White</a> Projet 2 </h3>
                                <div class="timeline-body">
                                    Take me to your leader!
                                    Switzerland is small and neutral!
                                    We are more like Germany, ambitious and misunderstood!
                                </div>
                                    <div class="timeline-footer">
                                        <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-lg">Read more</a>
                                        <a class="btn btn-danger btn-sm">Delete</a>
                                    </div>
                                </div>                  
                            </div>
                            <div>
                                <i class="fas fa-user bg-blue"></i>
                                <div class="timeline-item">
                                <span class="time"><i class="fas fa-clock"></i> 12:05</span>
                                <h3 class="timeline-header"><a href="#">John Light Luc</a> Projet 1</h3>
        
                                <div class="timeline-body">
                                        Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                                        weebly ning heekya handango imeem plugg dopplr jibjab, movity
                                        jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                                        quora plaxo ideeli hulu weebly balihoo...
                                </div>
                                <div class="timeline-footer">
                                    <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-lg">Read more</a>
                                    <a class="btn btn-danger btn-sm">Delete</a>
                                </div>
                            </div>
                            </div>
                            <!-- END timeline item -->
                            <!-- timeline time label -->
                            <div class="time-label">
                                <span class="bg-green">3 Jan. 2019</span>
                            </div>
                            <!-- /.timeline-label -->
                            <!-- timeline item -->
                            <!-- /.timeline-label -->
                            <!-- timeline item -->
                            <div>
                                <i class="fas fa-user bg-blue"></i>
                                    <div class="timeline-item">
                                    <span class="time"><i class="fas fa-clock"></i> 12:05</span>
                                    <h3 class="timeline-header"><a href="#">John Light Luc</a> Projet 1</h3>
        
                                    <div class="timeline-body">
                                        Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                                        weebly ning heekya handango imeem plugg dopplr jibjab, movity
                                        jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                                        quora plaxo ideeli hulu weebly balihoo...
                                    </div>
                                    <div class="timeline-footer">
                                        <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-lg">Read more</a>
                                        <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modal-lg">Delete</a>
                                    </div>
                                    </div>
                                </div>
                                
                            <!-- timeline item -->
                            <div>
                                    <i class="fas fa-user bg-blue"></i>
                                    <div class="timeline-item">
                                    <span class="time"><i class="fas fa-clock"></i> 12:05</span>
                                    <h3 class="timeline-header"><a href="#">John Light Luc</a> Projet 1</h3>
        
                                    <div class="timeline-body">
                                        Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                                        weebly ning heekya handango imeem plugg dopplr jibjab, movity
                                        jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                                        quora plaxo ideeli hulu weebly balihoo...
                                    </div>
                                    <div class="timeline-footer">
                                        <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-lg">Read more</a>
                                        <a class="btn btn-danger btn-sm">Delete</a>
                                    </div>
                                    </div>
                                </div>
                                <!-- END timeline item -->
                                <!-- timeline item -->

                            <!-- /.timeline-label -->
                            <!-- timeline item -->
                            <div>
                                    <i class="fas fa-user bg-blue"></i>
                                    <div class="timeline-item">
                                    <span class="time"><i class="fas fa-clock"></i> 12:05</span>
                                    <h3 class="timeline-header"><a href="#">John Light Luc</a> Projet 1</h3>
        
                                    <div class="timeline-body">
                                        Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                                        weebly ning heekya handango imeem plugg dopplr jibjab, movity
                                        jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                                        quora plaxo ideeli hulu weebly balihoo...
                                    </div>
                                    <div class="timeline-footer">
                                        <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-lg">Read more</a>
                                        <a class="btn btn-danger btn-sm">Delete</a>
                                    </div>
                                    </div>
                                </div>
                                <!-- END timeline item -->
                                <!-- timeline item -->
                            <!-- END timeline item -->
                            <div>
                                <i class="fas fa-clock bg-gray"></i>
                            </div>
                            </div>
                        </div>
                        <!-- /.col -->
                        </div>
                    </div>
                    <!-- /.timeline -->
    
                    </section>
                    <!-- /.content -->
                </div>
                <!-- /.content-wrapper -->

                <div class="modal fade" id="modal-lg">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">Commits </h3>
                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body p-0">
                                                <table class="table table-condensed">
                                                <thead>
                                                    <tr>
                                                    <th style="width: 10px">Id commit</th>
                                                    <th>Nom projet</th>
                                                    <th>Progres du projet</th>
                                                    <th>Heure</th>
                                                    <th>Commentaire</th>
                                                    <th>Description</th>
                                                    <th>Page modifier ou creer</th>
                                
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>bd566865gb</td>
                                                        <td>Update software</td>
                                                        <td>
                                                            <div class="progress progress-xs">
                                                            <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                                            </div>
                                                        </td>
                                                        <td> 12:25min </td>
                                                        <td> Creation du projet </td>
                                                        <td> J'ai créé le projet fairt toutes les modifications </td>
                                                        <td> 
                                                            <ul>
                                                                <li>Page d'accueil</li>
                                                                <li>Page configuration</li>
                                                                <li>Page urls </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                
                                                </tbody>
                                                </table>
                                            </div>
                                            <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                                <div class="modal-footer">
                                    
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal --
    

            
        {% endblock %}