{% extends 'base/dashboard/dashboard_base.html' %}

{% block dashboard %}

 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0 text-dark">Mon Profile</h1>
              </div><!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="{% url 'projetapp:home' %}">Home</a></li>
                  <li class="breadcrumb-item active">Mon Profile</li>
                </ol>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
    
        <!-- Info boxes -->
        <div class="row" style="margin: 0px 20px">
    
            
             <div class="col-md-7 d-flex align-items-stretch">
              <div class="card bg-light">
                <div class="card-header text-muted border-bottom-0">
                  Digital Strategist
                </div>
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="col-7">
                      <h2 class="lead"><b>Nicole Pearson</b></h2>
                      <p class="text-muted text-sm"><b>About: </b> Web Designer / UX / Graphic Artist / Coffee Lover </p>
                      <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: Demo Street 123, Demo City 04312, NJ</li>
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + 800 - 12 12 23 52</li>
                      </ul>
                    </div>
                    <div class="col-5 text-center">
                      <img src="/static/dashboard/dist/img/user2-160x160.jpg" alt="" class="img-circle img-fluid">
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                   <div>
                    <ul class="nav flex-column">
                        <li class="nav-item" style="padding: 8px 0px; font-size:18px">
                        <a href="{% url 'projetapp:myprojects' %}" class="nav-link">
                            Projets  <span class="float-right badge bg-primary">17</span>
                        </a>
                        </li>
                        <li class="nav-item" style="padding: 8px 0px; font-size:18px">
                        <a href="{% url 'projetapp:myprojects' %}" class="nav-link">
                            Projets Terminés <span class="float-right badge bg-info">5</span>
                        </a>
                        </li>
                        <li class="nav-item" style="padding: 8px 0px; font-size:18px">
                        <a href="{% url 'projetapp:myprojects' %}" class="nav-link">
                            Projets en cours ... <span class="float-right badge bg-success">12</span>
                        </a>
                        </li>
                        <li class="nav-item" style="padding: 8px 0px; font-size:18px">
                        <a href="#" class="nav-link">
                            Commits Totals <span class="float-right badge bg-danger">842</span>
                        </a>
                        </li>
                    </ul>
                  </div>
                  <div class="text-right">
                    <a href="#" class="btn btn-sm bg-teal">
                      <i class="fas fa-comments"> Send Mesage</i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-5">
                <!-- Custom tabs (Charts with tabs)-->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-chart-pie mr-1"></i>Graph ici</h3>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content p-0">
                        <!-- Echarts -->
                            <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;">
                                <div id="main" style="width: 100%;height:300px;"></div>                      
                            </div>
                        </div>
                    </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
    
            </div>
            <!-- /.col -->
    
        </div>
    
        <div class="row" style="margin: 0px 20px">
            <div class="col-12">
        
                <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Mes resultats</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Projets</th>
                        <th>Participants</th>
                        <th>Commits</th>
                        <th>Progression</th>
                        <th>Detail</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>09/11/2019</td>
                        <td>Gestions de projet NaN</td>
                        <td>4</td>
                        <td>15 Commits (25% TCommits )</td>
                        <td>
                            <div class="progress" style="height: 0.6em!important">
                                <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                                </div>
                            </div>
                            <span class="progress-description">25% </span>
                        </td>
                        <td><a href="{% url 'projetapp:projet_detail' %}" class="small-box-footer">More <i class="fas fa-arrow-circle-right"></i></a></td>
                    </tr>
                    <tr>
                        <td>09/11/2019</td>
                        <td>Gestions de projet NaN</td>
                        <td>4</td>
                        <td>15 Commits (25% TCommits )</td>
                        <td>
                            <div class="progress" style="height: 0.6em!important">
                                <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                </div>
                            </div>
                            <span class="progress-description">50% </span>
                        </td>
                        <td><a href="{% url 'projetapp:projet_detail' %}" class="small-box-footer">More <i class="fas fa-arrow-circle-right"></i></a></td>
                    </tr>
                    <tr>
                        <td>09/11/2019</td>
                        <td>Gestions de projet NaN</td>
                        <td>4</td>
                        <td>15 Commits (25% TCommits )</td>
                        <td>
                            <div class="progress" style="height: 0.6em!important">
                                <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
                                </div>
                            </div>
                            <span class="progress-description">65% </span>
                        </td>
                        <td><a href="{% url 'projetapp:projet_detail' %}" class="small-box-footer">More <i class="fas fa-arrow-circle-right"></i></a></td>
                    </tr>
                    <tr>
                        <td>09/11/2019</td>
                        <td>Gestions de projet NaN</td>
                        <td>4</td>
                        <td>15 Commits (25% TCommits )</td>
                        <td>
                            <div class="progress" style="height: 0.6em!important">
                                <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                </div>
                            </div>
                            <span class="progress-description">75% </span>
                        </td>
                        <td><a href="{% url 'projetapp:projet_detail' %}" class="small-box-footer">More <i class="fas fa-arrow-circle-right"></i></a></td>
                    </tr>
                    <tr>
                        <td>09/11/2019</td>
                        <td>Gestions de projet NaN</td>
                        <td>4</td>
                        <td>15 Commits (25% TCommits )</td>
                        <td>
                            <div class="progress" style="height: 0.6em!important">
                                <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                </div>
                            </div>
                            <span class="progress-description">60% </span>
                        </td>
                        <td><a href="{% url 'projetapp:projet_detail' %}" class="small-box-footer">More <i class="fas fa-arrow-circle-right"></i></a></td>
                    </tr>
                    <tr>
                        <td>09/11/2019</td>
                        <td>Gestions de projet NaN</td>
                        <td>4</td>
                        <td>15 Commits (25% TCommits )</td>
                        <td>
                            <div class="progress" style="height: 0.6em!important">
                                <div class="progress-bar bg-danger progress-bar-striped" role="progressbar"
                                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                </div>
                            </div>
                            <span class="progress-description">100% </span>
                        </td>
                        <td><a href="{% url 'projetapp:projet_detail' %}" class="small-box-footer">More <i class="fas fa-arrow-circle-right"></i></a></td>
                    </tr>
                    <tr>
                        <td>09/11/2019</td>
                        <td>Gestions de projet NaN</td>
                        <td>4</td>
                        <td>15 Commits (25% TCommits )</td>
                        <td>
                            <div class="progress" style="height: 0.6em!important">
                                <div class="progress-bar bg-danger progress-bar-striped" role="progressbar"
                                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                </div>
                            </div>
                            <span class="progress-description">100% </span>
                        </td>
                        <td><a href="{% url 'projetapp:projet_detail' %}" class="small-box-footer">More <i class="fas fa-arrow-circle-right"></i></a></td>
                    </tr>
                    <tr>
                        <td>09/11/2019</td>
                        <td>Gestions de projet NaN</td>
                        <td>4</td>
                        <td>15 Commits (25% TCommits )</td>
                        <td>
                            <div class="progress" style="height: 0.6em!important">
                                <div class="progress-bar bg-danger progress-bar-striped" role="progressbar"
                                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                </div>
                            </div>
                            <span class="progress-description">100% </span>
                        </td>
                        <td><a href="{% url 'projetapp:projet_detail' %}" class="small-box-footer">More <i class="fas fa-arrow-circle-right"></i></a></td>
                    </tr>
                    <tr>
                        <td>09/11/2019</td>
                        <td>Gestions de projet NaN</td>
                        <td>4</td>
                        <td>15 Commits (25% TCommits )</td>
                        <td>
                            <div class="progress" style="height: 0.6em!important">
                                <div class="progress-bar bg-danger progress-bar-striped" role="progressbar"
                                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                </div>
                            </div>
                            <span class="progress-description">100% </span>
                        </td>
                        <td><a href="{% url 'projetapp:projet_detail' %}" class="small-box-footer">More <i class="fas fa-arrow-circle-right"></i></a></td>
                    </tr>
                    <tr>
                        <td>09/11/2019</td>
                        <td>Gestions de projet NaN</td>
                        <td>4</td>
                        <td>15 Commits (25% TCommits )</td>
                        <td>
                            <div class="progress" style="height: 0.6em!important">
                                <div class="progress-bar bg-danger progress-bar-striped" role="progressbar"
                                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                </div>
                            </div>
                            <span class="progress-description">100% </span>
                        </td>
                        <td><a href="{% url 'projetapp:projet_detail' %}" class="small-box-footer">More <i class="fas fa-arrow-circle-right"></i></a></td>
                    </tr>
                    <tr>
                        <td>09/11/2019</td>
                        <td>Gestions de projet NaN</td>
                        <td>4</td>
                        <td>15 Commits (25% TCommits )</td>
                        <td>
                            <div class="progress" style="height: 0.6em!important">
                                <div class="progress-bar bg-danger progress-bar-striped" role="progressbar"
                                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                </div>
                            </div>
                            <span class="progress-description">100% </span>
                        </td>
                        <td><a href="{% url 'projetapp:projet_detail' %}" class="small-box-footer">More <i class="fas fa-arrow-circle-right"></i></a></td>
                    </tr>
                    <tr>
                        <td>09/11/2019</td>
                        <td>Gestions de projet NaN</td>
                        <td>4</td>
                        <td>15 Commits (25% TCommits )</td>
                        <td>
                            <div class="progress" style="height: 0.6em!important">
                                <div class="progress-bar bg-danger progress-bar-striped" role="progressbar"
                                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                </div>
                            </div>
                            <span class="progress-description">100% </span>
                        </td>
                        <td><a href="{% url 'projetapp:projet_detail' %}" class="small-box-footer">More <i class="fas fa-arrow-circle-right"></i></a></td>
                    </tr>
                    <tr>
                        <td>09/11/2019</td>
                        <td>Gestions de projet NaN</td>
                        <td>4</td>
                        <td>15 Commits (25% TCommits )</td>
                        <td>
                            <div class="progress" style="height: 0.6em!important">
                                <div class="progress-bar bg-danger progress-bar-striped" role="progressbar"
                                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                </div>
                            </div>
                            <span class="progress-description">100% </span>
                        </td>
                        <td><a href="{% url 'projetapp:projet_detail' %}" class="small-box-footer">More <i class="fas fa-arrow-circle-right"></i></a></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Date</th>
                        <th>Projets</th>
                        <th>Participants</th>
                        <th>Commits</th>
                        <th>Progression</th>
                        <th>Statut</th>
                    </tr>
                    </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    
        
    </div>
    <!-- ./wrapper -->
    
    
{% endblock %}