{% extends 'base/dashboard/dashboard_base.html' %}

{% block dashboard %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0 text-dark">Liste des projects</h1>
              </div><!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="{% url 'projetapp:detailuser' %}">Home</a></li>
                  <li class="breadcrumb-item active">Projects</li>
                </ol>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
    
        <!-- Info boxes -->
        <div class="row" style="margin: 0px 20px">
          <a href="{% url 'projetapp:detailuser' %}" class="col-12 col-sm-6 col-md-3">
              <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>
    
                <div class="info-box-content">
                  <div>
                    <span class="info-box-text">Commits</span>
                    <span class="badge badge-danger" style="float: right; margin-top: -28px;">Terminer</span>
                  </div>
                    <span class="info-box-number">10</span>
                    <div class="progress" style="height: 0.6em!important">
                        <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                              aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                          <span class="sr-only">40% Complete (success)</span>
                        </div>
                      </div>
                      <span class="progress-description">70% Increase en 10 jours</span>
                </div>
              </div>
              <!-- /.info-box -->
          </a>
          <!-- /.col -->
          <a href="{% url 'projetapp:detailuser' %}"  class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
              <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>
    
              <div class="info-box-content">
                <div>
                  <span class="info-box-text">Commits</span>
                  <span class="badge badge-danger" style="float: right; margin-top: -28px;">Terminer</span>
                </div>
                  <span class="info-box-number">10</span>
                  <div class="progress" style="height: 0.6em!important">
                      <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">40% Complete (success)</span>
                      </div>
                    </div>
                    <span class="progress-description">70% Increase en 10 jours</span>
                </div>
              </div>
              <!-- /.info-box -->
          </a>
          <!-- /.col -->
    
          <a href="{% url 'projetapp:detailuser' %}"  class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>
    
              <div class="info-box-content">
                <div>
                  <span class="info-box-text">Commits</span>
                  <span class="badge badge-danger" style="float: right; margin-top: -28px;">Terminer</span>
                </div>
                  <span class="info-box-number">10</span>
                  <div class="progress" style="height: 0.6em!important">
                      <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                      </div>
                    </div>
                    <span class="progress-description">70% Increase en 10 jours</span>
                </div>
              </div>
              <!-- /.info-box -->
          </a>
          <!-- /.col -->
    
          <a href="{% url 'projetapp:detailuser' %}"  class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
    
              <div class="info-box-content">
                <div>
                  <span class="info-box-text">Commits</span>
                  <span class="badge badge-success" style="float: right; margin-top: -28px;">En cour ....</span>
                </div>
                  <span class="info-box-number">10</span>
                  <div class="progress" style="height: 0.6em!important">
                      <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (success)</span>
                      </div>
                    </div>
                    <span class="progress-description">70% Increase en 10 jours</span>
                </div>
              </div>
              <!-- /.col -->
          </a>
          <!-- /.row -->
    
          <a href="{% url 'projetapp:detailuser' %}" class="col-12 col-sm-6 col-md-3">
              <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>
    
                <div class="info-box-content">
                  <div>
                    <span class="info-box-text">Commits</span>
                    <span class="badge badge-danger" style="float: right; margin-top: -28px;">Terminer</span>
                  </div>
                    <span class="info-box-number">10</span>
                    <div class="progress" style="height: 0.6em!important">
                        <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                              aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                          <span class="sr-only">40% Complete (success)</span>
                        </div>
                      </div>
                      <span class="progress-description">70% Increase en 10 jours</span>
                </div>
              </div>
              <!-- /.info-box -->
          </a>
          <!-- /.col -->
          <a href="{% url 'projetapp:detailuser' %}"  class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
              <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>
    
              <div class="info-box-content">
                <div>
                  <span class="info-box-text">Commits</span>
                  <span class="badge badge-danger" style="float: right; margin-top: -28px;">Terminer</span>
                </div>
                  <span class="info-box-number">10</span>
                  <div class="progress" style="height: 0.6em!important">
                      <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">40% Complete (success)</span>
                      </div>
                    </div>
                    <span class="progress-description">70% Increase en 10 jours</span>
                </div>
              </div>
              <!-- /.info-box -->
          </a>
          <!-- /.col -->
    
          <a href="{% url 'projetapp:detailuser' %}"  class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>
    
              <div class="info-box-content">
                <div>
                  <span class="info-box-text">Commits</span>
                  <span class="badge badge-danger" style="float: right; margin-top: -28px;">Terminer</span>
                </div>
                  <span class="info-box-number">10</span>
                  <div class="progress" style="height: 0.6em!important">
                      <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                      </div>
                    </div>
                    <span class="progress-description">70% Increase en 10 jours</span>
                </div>
              </div>
              <!-- /.info-box -->
          </a>
          <!-- /.col -->
    
          <a href="{% url 'projetapp:detailuser' %}"  class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
    
              <div class="info-box-content">
                <div>
                  <span class="info-box-text">Commits</span>
                  <span class="badge badge-success" style="float: right; margin-top: -28px;">En cour ....</span>
                </div>
                  <span class="info-box-number">10</span>
                  <div class="progress" style="height: 0.6em!important">
                      <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (success)</span>
                      </div>
                    </div>
                    <span class="progress-description">70% Increase en 10 jours</span>
                </div>
              </div>
              <!-- /.col -->
          </a>
    
          <a href="{% url 'projetapp:detailuser' %}" class="col-12 col-sm-6 col-md-3">
              <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>
    
                <div class="info-box-content">
                  <div>
                    <span class="info-box-text">Commits</span>
                    <span class="badge badge-danger" style="float: right; margin-top: -28px;">Terminer</span>
                  </div>
                    <span class="info-box-number">10</span>
                    <div class="progress" style="height: 0.6em!important">
                        <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                              aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                          <span class="sr-only">40% Complete (success)</span>
                        </div>
                      </div>
                      <span class="progress-description">70% Increase en 10 jours</span>
                </div>
              </div>
              <!-- /.info-box -->
          </a>
          <!-- /.col -->
          <a href="{% url 'projetapp:detailuser' %}"  class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
              <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>
    
              <div class="info-box-content">
                <div>
                  <span class="info-box-text">Commits</span>
                  <span class="badge badge-danger" style="float: right; margin-top: -28px;">Terminer</span>
                </div>
                  <span class="info-box-number">10</span>
                  <div class="progress" style="height: 0.6em!important">
                      <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">40% Complete (success)</span>
                      </div>
                    </div>
                    <span class="progress-description">70% Increase en 10 jours</span>
                </div>
              </div>
              <!-- /.info-box -->
          </a>
          <!-- /.col -->
    
          <a href="{% url 'projetapp:detailuser' %}"  class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>
    
              <div class="info-box-content">
                <div>
                  <span class="info-box-text">Commits</span>
                  <span class="badge badge-danger" style="float: right; margin-top: -28px;">Terminer</span>
                </div>
                  <span class="info-box-number">10</span>
                  <div class="progress" style="height: 0.6em!important">
                      <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                      </div>
                    </div>
                    <span class="progress-description">70% Increase en 10 jours</span>
                </div>
              </div>
              <!-- /.info-box -->
          </a>
          <!-- /.col -->
    
          <a href="{% url 'projetapp:detailuser' %}"  class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
    
              <div class="info-box-content">
                <div>
                  <span class="info-box-text">Commits</span>
                  <span class="badge badge-success" style="float: right; margin-top: -28px;">En cour ....</span>
                </div>
                  <span class="info-box-number">10</span>
                  <div class="progress" style="height: 0.6em!important">
                      <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (success)</span>
                      </div>
                    </div>
                    <span class="progress-description">70% Increase en 10 jours</span>
                </div>
              </div>
              <!-- /.col -->
          </a>
          <!-- /.col -->
          <a href="{% url 'projetapp:detailuser' %}" class="col-12 col-sm-6 col-md-3">
              <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>
    
                <div class="info-box-content">
                  <div>
                    <span class="info-box-text">Commits</span>
                    <span class="badge badge-danger" style="float: right; margin-top: -28px;">Terminer</span>
                  </div>
                    <span class="info-box-number">10</span>
                    <div class="progress" style="height: 0.6em!important">
                        <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                              aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                          <span class="sr-only">40% Complete (success)</span>
                        </div>
                      </div>
                      <span class="progress-description">70% Increase en 10 jours</span>
                </div>
              </div>
              <!-- /.info-box -->
          </a>
          <!-- /.col -->
          <a href="{% url 'projetapp:detailuser' %}"  class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
              <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>
    
              <div class="info-box-content">
                <div>
                  <span class="info-box-text">Commits</span>
                  <span class="badge badge-danger" style="float: right; margin-top: -28px;">Terminer</span>
                </div>
                  <span class="info-box-number">10</span>
                  <div class="progress" style="height: 0.6em!important">
                      <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">40% Complete (success)</span>
                      </div>
                    </div>
                    <span class="progress-description">70% Increase en 10 jours</span>
                </div>
              </div>
              <!-- /.info-box -->
          </a>
          <!-- /.col -->
    
          <a href="{% url 'projetapp:detailuser' %}"  class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>
    
              <div class="info-box-content">
                <div>
                  <span class="info-box-text">Commits</span>
                  <span class="badge badge-danger" style="float: right; margin-top: -28px;">Terminer</span>
                </div>
                  <span class="info-box-number">10</span>
                  <div class="progress" style="height: 0.6em!important">
                      <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                      </div>
                    </div>
                    <span class="progress-description">70% Increase en 10 jours</span>
                </div>
              </div>
              <!-- /.info-box -->
          </a>
          <!-- /.col -->
    
          <a href="{% url 'projetapp:detailuser' %}"  class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
    
              <div class="info-box-content">
                <div>
                  <span class="info-box-text">Commits</span>
                  <span class="badge badge-success" style="float: right; margin-top: -28px;">En cour ....</span>
                </div>
                  <span class="info-box-number">10</span>
                  <div class="progress" style="height: 0.6em!important">
                      <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (success)</span>
                      </div>
                    </div>
                    <span class="progress-description">70% Increase en 10 jours</span>
                </div>
              </div>
              <!-- /.col -->
          </a>
          <!-- /.rol -->
    
          <a href="{% url 'projetapp:detailuser' %}" class="col-12 col-sm-6 col-md-3">
              <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>
    
                <div class="info-box-content">
                  <div>
                    <span class="info-box-text">Commits</span>
                    <span class="badge badge-danger" style="float: right; margin-top: -28px;">Terminer</span>
                  </div>
                    <span class="info-box-number">10</span>
                    <div class="progress" style="height: 0.6em!important">
                        <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                              aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                          <span class="sr-only">40% Complete (success)</span>
                        </div>
                      </div>
                      <span class="progress-description">70% Increase en 10 jours</span>
                </div>
              </div>
              <!-- /.info-box -->
          </a>
          <!-- /.col -->
          <a href="{% url 'projetapp:detailuser' %}"  class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
              <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>
    
              <div class="info-box-content">
                <div>
                  <span class="info-box-text">Commits</span>
                  <span class="badge badge-danger" style="float: right; margin-top: -28px;">Terminer</span>
                </div>
                  <span class="info-box-number">10</span>
                  <div class="progress" style="height: 0.6em!important">
                      <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">40% Complete (success)</span>
                      </div>
                    </div>
                    <span class="progress-description">70% Increase en 10 jours</span>
                </div>
              </div>
              <!-- /.info-box -->
          </a>
          <!-- /.col -->
    
          <a href="{% url 'projetapp:detailuser' %}"  class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>
    
              <div class="info-box-content">
                <div>
                  <span class="info-box-text">Commits</span>
                  <span class="badge badge-danger" style="float: right; margin-top: -28px;">Terminer</span>
                </div>
                  <span class="info-box-number">10</span>
                  <div class="progress" style="height: 0.6em!important">
                    <div class="progress-bar bg-sudangerrogress-bar-striped" role="progressbar"
                          aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 4010">
                    </div>
                  </div>
                  <span class="progress-description">70% Increase en 10 jours</span>
    100        </div>
              </div>
              <!-- /.info-box -->
          </a>
          <!-- /.col -->
    
          <a href="{% url 'projetapp:detailuser' %}"  class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
    
              <div class="info-box-content">
                <div>
                  <span class="info-box-text">Commits</span>
                  <span class="badge badge-success" style="float: right; margin-top: -28px;">En cour ....</span>
                </div>
                  <span class="info-box-number">10</span>
                  <div class="progress" style="height: 0.6em!important">
                      <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (success)</span>
                      </div>
                    </div>
                    <span class="progress-description">70% Increase en 10 jours</span>
                </div>
              </div>
              <!-- /.col -->
          </a>
          <!-- /.col -->
    
          <a href="{% url 'projetapp:detailuser' %}" class="col-12 col-sm-6 col-md-3">
              <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>
    
                <div class="info-box-content">
                  <div>
                    <span class="info-box-text">Commits</span>
                    <span class="badge badge-danger" style="float: right; margin-top: -28px;">Terminer</span>
                  </div>
                    <span class="info-box-number">10</span>
                    <div class="progress" style="height: 0.6em!important">
                        <div class="progress-bar bg-danger progress-bar-striped" role="progressbar"
                              aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                          <span class="sr-only">40% Complete (success)</span>
                        </div>
                      </div>
                      <span class="progress-description">100% Increase en 10 jours</span>
                </div>
              </div>
              <!-- /.info-box -->
          </a>
          <!-- /.col -->
          <a href="{% url 'projetapp:detailuser' %}"  class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
              <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>
    
              <div class="info-box-content">
                <div>
                  <span class="info-box-text">Commits</span>
                  <span class="badge badge-danger" style="float: right; margin-top: -28px;">Terminer</span>
                </div>
                  <span class="info-box-number">10</span>
                  <div class="progress" style="height: 0.6em!important">
                      <div class="progress-bar bg-danger progress-bar-striped" role="progressbar"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 1000%">
                        <span class="sr-only">40% Complete (success)</span>
                      </div>
                    </div>
                    <span class="progress-description">100% Increase en 10 jours</span>
                </div>
              </div>
              <!-- /.info-box -->
          </a>
          <!-- /.col -->
    
          <a href="{% url 'projetapp:detailuser' %}"  class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>
    
              <div class="info-box-content">
                <div>
                  <span class="info-box-text">Commits</span>
                  <span class="badge badge-danger" style="float: right; margin-top: -28px;">Terminer</span>
                </div>
                  <span class="info-box-number">10</span>
                  <div class="progress" style="height: 0.6em!important">
                      <div class="progress-bar bg-danger progress-bar-striped" role="progressbar"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                      </div>
                    </div>
                    <span class="progress-description">70% Increase en 10 jours</span>
      100      </div>
              </div>
              <!-- /.info-box -->
          </a>
          <!-- /.col -->
    
          <a href="{% url 'projetapp:detailuser' %}"  class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
    
              <div class="info-box-content">
                <div>
                  <span class="info-box-text">Commits</span>
                  <span class="badge badge-success" style="float: right; margin-top: -28px;">En cour ....</span>
                </div>
                  <span class="info-box-number">10</span>
                  <div class="progress" style="height: 0.6em!important">
                      <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (success)</span>
                      </div>
                    </div>
                    <span class="progress-description">70% Increase en 10 jours</span>
                </div>
              </div>
              <!-- /.col -->
          </a>
          <!-- /.col -->
    
          <a href="{% url 'projetapp:detailuser' %}" class="col-12 col-sm-6 col-md-3">
              <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>
    
                <div class="info-box-content">
                  <div>
                    <span class="info-box-text">Commits</span>
                    <span class="badge badge-danger" style="float: right; margin-top: -28px;">Terminer</span>
                  </div>
                    <span class="info-box-number">10</span>
                    <div class="progress" style="height: 0.6em!important">
                        <div class="progress-bar bg-danger progress-bar-striped" role="progressbar"
                              aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                          <span class="sr-only">40% Complete (success)</span>
                        </div>
                      </div>
                      <span class="progress-description">100% Increase en 10 jours</span>
                </div>
              </div>
              <!-- /.info-box -->
          </a>
          <!-- /.col -->
          <a href="{% url 'projetapp:detailuser' %}"  class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
              <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>
    
              <div class="info-box-content">
                <div>
                  <span class="info-box-text">Commits</span>
                  <span class="badge badge-danger" style="float: right; margin-top: -28px;">Terminer</span>
                </div>
                  <span class="info-box-number">10</span>
                  <div class="progress" style="height: 0.6em!important">
                      <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">40% Complete (success)</span>
                      </div>
                    </div>
                    <span class="progress-description">70% Increase en 10 jours</span>
                </div>
              </div>
              <!-- /.info-box -->
          </a>
          <!-- /.col -->
    
          <a href="{% url 'projetapp:detailuser' %}"  class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>
    
              <div class="info-box-content">
                <div>
                  <span class="info-box-text">Commits</span>
                  <span class="badge badge-danger" style="float: right; margin-top: -28px;">Terminer</span>
                </div>
                  <span class="info-box-number">10</span>
                  <div class="progress" style="height: 0.6em!important">
                      <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                      </div>
                    </div>
                    <span class="progress-description">70% Increase en 10 jours</span>
                </div>
              </div>
              <!-- /.info-box -->
          </a>
          <!-- /.col -->
    
          <a href="{% url 'projetapp:detailuser' %}"  class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
    
              <div class="info-box-content">
                <div>
                  <span class="info-box-text">Commits</span>
                  <span class="badge badge-success" style="float: right; margin-top: -28px;">En cour ....</span>
                </div>
                  <span class="info-box-number">10</span>
                  <div class="progress" style="height: 0.6em!important">
                      <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (success)</span>
                      </div>
                    </div>
                    <span class="progress-description">70% Increase en 10 jours</span>
                </div>
              </div>
              <!-- /.col -->
          </a>
          <!-- /.col -->
          <a href="{% url 'projetapp:detailuser' %}" class="col-12 col-sm-6 col-md-3">
              <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>
    
                <div class="info-box-content">
                  <div>
                    <span class="info-box-text">Commits</span>
                    <span class="badge badge-danger" style="float: right; margin-top: -28px;">Terminer</span>
                  </div>
                    <span class="info-box-number">10</span>
                    <div class="progress" style="height: 0.6em!important">
                        <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                              aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                          <span class="sr-only">40% Complete (success)</span>
                        </div>
                      </div>
                      <span class="progress-description">70% Increase en 10 jours</span>
                </div>
              </div>
              <!-- /.info-box -->
          </a>
          <!-- /.col -->
          <a href="{% url 'projetapp:detailuser' %}"  class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
              <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>
    
              <div class="info-box-content">
                <div>
                  <span class="info-box-text">Commits</span>
                  <span class="badge badge-danger" style="float: right; margin-top: -28px;">Terminer</span>
                </div>
                  <span class="info-box-number">10</span>
                  <div class="progress" style="height: 0.6em!important">
                      <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">40% Complete (success)</span>
                      </div>
                    </div>
                    <span class="progress-description">70% Increase en 10 jours</span>
                </div>
              </div>
              <!-- /.info-box -->
          </a>
          <!-- /.col -->
    
          <a href="{% url 'projetapp:detailuser' %}"  class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>
    
              <div class="info-box-content">
                <div>
                  <span class="info-box-text">Commits</span>
                  <span class="badge badge-danger" style="float: right; margin-top: -28px;">Terminer</span>
                </div>
                  <span class="info-box-number">10</span>
                  <div class="progress" style="height: 0.6em!important">
                      <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                      </div>
                    </div>
                    <span class="progress-description">70% Increase en 10 jours</span>
                </div>
              </div>
              <!-- /.info-box -->
          </a>
          <!-- /.col -->
    
          <a href="{% url 'projetapp:detailuser' %}"  class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
    
              <div class="info-box-content">
                <div>
                  <span class="info-box-text">Commits</span>
                  <span class="badge badge-success" style="float: right; margin-top: -28px;">En cour ....</span>
                </div>
                  <span class="info-box-number">10</span>
                  <div class="progress" style="height: 0.6em!important">
                      <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (success)</span>
                      </div>
                    </div>
                    <span class="progress-description">70% Increase en 10 jours</span>
                </div>
              </div>
              <!-- /.col -->
          </a>
         <!-- /.col -->
    
        <!-- /.col -->
        </div>
    
    </div>
    <!-- ./wrapper -->
{% endblock %}