{% extends 'base/dashboard/dashboard_base.html' %}

{% block dashboard %}


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Gestion de projet NaN <span class="badge badge-success" style="margin-top: -28px;">Terminer</span></h1>
            
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">projets</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        
        <div class="row">
            <div class="col-md-6">
                <div class="card card-default">
                    <div class="card-header">
                    <h3 class="card-title">CAHIER DE CHARGE</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                    <div class="callout callout-danger">
                        <h5>I am a danger callout!</h5>

                        <p>There is a problem that we need to fix. A wonderful serenity has taken possession of my entire
                        soul,
                        like these sweet mornings of spring which I enjoy with my whole heart. <br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, provident sunt?
                        Blanditiis, ullam, ratione, consequatur dolore praesentium architecto 
                        sunt delectus nostrum cum inventore quibusdam explicabo expedita numquam quaerat eaque obcaecati?<br><br>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo ducimus, qui maxime, vel consectetur corrupti et suscipit reprehenderit
                        eum in non cupiditate placeat voluptas eos. Quas delectus aliquam recusandae maiores!

                    </p>
                    <div >
                       <a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
                    </div>
                    </div>
                    <div class="callout callout-success">
                        <h5>Le projet est achevé avec succes !</h5><br>

                        <div class="progress" style="height: 1.2em!important">
                            <div class="progress-bar bg-primary progress-bar-striped" role="progressbar"
                                    aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            </div>
                        </div>
                        <span class="progress-description">100% en 10 jours</span>
                    </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->

            <div class="col-md-6">
                <!-- LINE CHART -->
                <div class="card card-info">
                    <div class="card-header">
                    <h3 class="card-title">Graph</h3>
    
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                    </div>
                    </div>
                    <div class="card-body">
                    <div class="chart">
                        <canvas id="lineChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- TO DO List -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title"><i class="ion ion-clipboard mr-1"></i>Infos</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <ul class="todo-list" data-widget="todo-list">
                        <li>
                            <!-- drag handle -->
                            <span class="handle">
                            <i class="fas fa-ellipsis-v"></i>
                            <i class="fas fa-ellipsis-v"></i>
                            </span>
                            <!-- todo text -->
                            <span class="text">Nombre de commits</span>
                            <!-- Emphasis label -->
                            <small class="badge badge-danger">83 commits</small>
                            <!-- General tools such as edit or delete-->
                            <div class="tools">
                            <i class="fas fa-edit"></i>
                            <i class="fas fa-trash-o"></i>
                            </div>
                        </li>
                        <li>
                            <span class="handle">
                            <i class="fas fa-ellipsis-v"></i>
                            <i class="fas fa-ellipsis-v"></i>
                            </span>
                            <span class="text">Nombtre de jours</span>
                            <small class="badge badge-info"><i class="far fa-clock"></i> 4 jours</small>
                            <div class="tools">
                            <i class="fas fa-edit"></i>
                            <i class="fas fa-trash-o"></i>
                            </div>
                        </li>
                        <li>
                            <span class="handle">
                            <i class="fas fa-ellipsis-v"></i>
                            <i class="fas fa-ellipsis-v"></i>
                            </span>
                            <span class="text">Date de debut</span>
                            <small class="badge badge-warning"><i class="far fa-clock"></i> 18/12/2019</small>
                            <div class="tools">
                            <i class="fas fa-edit"></i>
                            <i class="fas fa-trash-o"></i>
                            </div>
                        </li>
                        <li>
                            <span class="handle">
                            <i class="fas fa-ellipsis-v"></i>
                            <i class="fas fa-ellipsis-v"></i>
                            </span>
                            <span class="text">Date de fin</span>
                            <small class="badge badge-success"><i class="far fa-clock"></i> 18/12/2019</small>
                            <div class="tools">
                            <i class="fas fa-edit"></i>
                            <i class="fas fa-trash-o"></i>
                            </div>
                        </li>
                        <li>
                            <span class="handle">
                            <i class="fas fa-ellipsis-v"></i>
                            <i class="fas fa-ellipsis-v"></i>
                            </span>
                            <span class="text">Nombre de participant</span>
                            <small class="badge badge-primary"><i class="far fa-clock"></i> 4 personnes</small>
                            <div class="tools">
                            <i class="fas fa-edit"></i>
                            <i class="fas fa-trash-o"></i>
                            </div>
                        </li>
                        </ul>
                    </div>
                    <!-- /.card-body -->
                    <!-- <div class="card-footer clearfix">
                        <button type="button" class="btn btn-info float-right"><i class="fas fa-plus"></i> Add item</button>
                    </div> -->
                </div>
                <!-- /.card -->
    
            </div>
            <!-- /.col (RIGHT) -->
        </div>
          <!-- TO DO List -->
          <div class="card ">
              <div class="card-header">
                  <h3 class="card-title"><i class="ion ion-clipboard mr-1"></i>Participants</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body row">
                    <!-- Widget: user widget style 1 -->
                    <div class="card card-widget widget-user col-md-3">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-info">
                        <h3 class="widget-user-username">Alexander Pierce</h3>
                        <h5 class="widget-user-desc">Developpeur Frontend</h5>
                        </div>
                        <a href="userdetail.html" class="widget-user-image">
                            <img class="img-circle elevation-2" src="/static/dashboard/dist/img/user1-128x128.jpg" alt="User Avatar">
                        </a>
                        <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">3,200</h5>
                                <span class="description-text">SALES</span>
                            </div>
                            <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">18</h5>
                                <span class="description-text">Commits</span>
                            </div>
                            <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4">
                            <div class="description-block">
                                <h5 class="description-header">35</h5>
                                <span class="description-text">PRODUCTS</span>
                            </div>
                            <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        </div>
                    </div>
                    <!-- /.widget-user -->

                    <!-- Widget: user widget style 1 -->
                    <div class="card card-widget widget-user col-md-3">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-info">
                        <h3 class="widget-user-username">Alexander Pierce</h3>
                        <h5 class="widget-user-desc">Developpeur Frontend</h5>
                        </div>
                        <a href="userdetail.html" class="widget-user-image">
                            <img class="img-circle elevation-2" src="/static/dashboard/dist/img/user1-128x128.jpg" alt="User Avatar">
                        </a>
                        <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">3,200</h5>
                                <span class="description-text">SALES</span>
                            </div>
                            <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">18</h5>
                                <span class="description-text">Commits</span>
                            </div>
                            <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4">
                            <div class="description-block">
                                <h5 class="description-header">35</h5>
                                <span class="description-text">PRODUCTS</span>
                            </div>
                            <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        </div>
                    </div>
                    <!-- /.widget-user -->

                    <!-- Widget: user widget style 1 -->
                    <div class="card card-widget widget-user col-md-3">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-info">
                        <h3 class="widget-user-username">Alexander Pierce</h3>
                        <h5 class="widget-user-desc">Developpeur Frontend</h5>
                        </div>
                        <a href="userdetail.html" class="widget-user-image">
                            <img class="img-circle elevation-2" src="/static/dashboard/dist/img/user1-128x128.jpg" alt="User Avatar">
                        </a>
                        <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">3,200</h5>
                                <span class="description-text">SALES</span>
                            </div>
                            <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">18</h5>
                                <span class="description-text">Commits</span>
                            </div>
                            <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4">
                            <div class="description-block">
                                <h5 class="description-header">35</h5>
                                <span class="description-text">PRODUCTS</span>
                            </div>
                            <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        </div>
                    </div>
                    <!-- /.widget-user -->

                    <!-- Widget: user widget style 1 -->
                    <div class="card card-widget widget-user col-md-3">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-info">
                        <h3 class="widget-user-username">Alexander Pierce</h3>
                        <h5 class="widget-user-desc">Developpeur Frontend</h5>
                        </div>
                        <a href="userdetail.html" class="widget-user-image">
                            <img class="img-circle elevation-2" src="/static/dashboard/dist/img/user1-128x128.jpg" alt="User Avatar">
                        </a>
                        <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">3,200</h5>
                                <span class="description-text">SALES</span>
                            </div>
                            <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">18</h5>
                                <span class="description-text">Commits</span>
                            </div>
                            <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4">
                            <div class="description-block">
                                <h5 class="description-header">35</h5>
                                <span class="description-text">PRODUCTS</span>
                            </div>
                            <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        </div>
                    </div>
                    <!-- /.widget-user -->
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                  <button type="button" class="btn btn-info float-right"><i class="fas fa-plus"></i> Add User</button>
              </div>
          </div>
      </div>
      <!-- /.timeline -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

 {% endblock %}